# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Delta Lake
*.parquet
_delta_log
*.parquet.crc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


